.aside {
	position: fixed;
	top: calc(var(--unit-gap) * 4);
	right: -280px;

	width: 100%;
	max-width: 280px;
	height: calc(100vh - var(--unit-gap));

	padding: .5em;

	background-color: darken($dark-color, 3);

	overflow-x: auto;

	z-index: $z-index-fixed;

	transition: right $transition ease;
}
.aside--active {
	right: 0;
}