.user-form {
    padding: calc(var(--unit-gap) * 2);
    background-color: darken($dark-color, 2);
    &__label,
    &__input {
        display: block;
        width: 100%;
    }
    &__input,
    &__trigger {
        padding: $unit-gap;

        font-size: 100%;
    }
    &__label {
        margin-bottom: $unit-gap;
        text-transform: uppercase;
    }
    &__input {
        margin-top: $unit-gap;
        border: none;
    }
}
