.scores {
    position: absolute;
    top: calc(var(--unit-gap) * 6);

    width: 100%;

    display: flex;
    justify-content: space-around;

    &__score {
        background-color: lighten($dark-color, 4);
        padding: $unit-gap;
    }
}
