aside#aside.aside
    ul.scores
        li
            button.scores__remove-component(data-removecomponent='remove-component') X
        li.scores__score Username - score: 5
        li.scores__score Machine - score: 2
    ul.scores
        li
            button.scores__remove-component(data-removecomponent='remove-component') X
        li.scores__score Username - score: 5
        li.scores__score Machine - score: 2
    ul.scores
        li
            button.scores__remove-component(data-removecomponent='remove-component') X
        li.scores__score Username - score: 5
        li.scores__score Machine - score: 2