main#main-content.main-content.is-user-active
    section.main-content__item
        include ../components/form_user

    section.main-content__item
        include ../components/scores
        include ../components/simon_says