-const pageTitle = 'Simon Says'

//- SEO
-const author = 'Ramsua'
-const twitterName = '@RichardRamSua'
-const type = 'website'
-const description = `Simon's game says with javascript`
-const keywords = ''
-const url = 'https://ramsua.github.io/simon-says/'
-const image = url + ''

-
    let colors = [
        {"color": "green"},
        {"color": "red"},
        {"color": "blue"},
        {"color": "yellow"}
    ]