*,
*::after,
*::before {
    box-sizing: border-box;
}
body {
    margin: 0;
    font-family: sans-serif;
}
button{
    border: none;
    outline: none;
}
ul {
    margin-top: 0;
    margin-bottom: 0;
    padding-left: 0;
    list-style: none;
}