section#game.simon-says
    button#trigger.simon-says__trigger Go!
    each color in colors
        button(
            class=`simon-says__color simon-says__color--${color.color}-off`
            id=`${color.color}`)