block config
    include ../config/vars
doctype html
html(lang="en" prefix='og:http://ogp.me/ns/website#')
    head
        title= pageTitle
        meta(charset="utf-8")
        meta(name="viewport" content="initial-scale=1.0, width=device-width")

        link(rel='stylesheet' href='./css/styles.css')

        block SEO

    body.body
        header.main-header
            block header
            
        main.main-content
            block main
            
        aside#aside.aside.aside--active
            ul.scores
                li
                    button.scores__remove-component(data-removecomponent='remove-component') X
                li.scores__score Username - score: 5
                li.scores__score Machine - score: 2
               
    script(type='module' src='./js/scripts.min.js')
